header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  /* z-index: 1000; */
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.677); /* 🟢 Subtle shadow */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%; /* 🟢 Reduced padding */
  min-height: 25px;
  transition: 0.3s;

  z-index: 999;
}

/* .logo {
  background: linear-gradient(90deg, #064420, #f9d923);
  font-size: 38px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
} */
.logo {
  background: linear-gradient(90deg, #064420, #f9d923);
  font-size: 15px;
  font-weight: 900;
  font-style: bold;
  /* font-family: "Montserrat", sans-serif; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  font-family: poppins;
}

.logo-sub {
  font-size: 20px;
  font-weight: 600;
  margin-left: 6px;
  color: #8c9a3c;
}

.navbar {
  display: flex;
  font-size: 50px;
}

.navbar li {
  font-size: 50px;
}

.navbar a {
  font-size: 20px;
  color: #064420;
  font-weight: 600;
  padding: 6px 10px;
  margin: 0 8px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background: #121212;
  color: #fff;
  border-radius: 4px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  font-size: 18px;
  margin-left: 10px;
  color: #1c6758;
}

#cart-count {
  font-size: 12px;
  color: red;
  margin-left: 2px;
}
